numpy==1.17.4
matplotlib==3.2.1
pandas==0.25.3
SoundFile==0.10.3.post1
PyYAML==5.2
numba==0.48.0
librosa==0.7.1
openl3==0.3.1
scikit-learn==0.22.1
keras==2.2.4
tensorflow-gpu==1.13.1
autopool==0.1.0
plotly==4.5.0
dash==1.8.0
dash_bootstrap_components==0.8.1
dash_audio_components==1.2.0
wget==3.2